node_modules
dist
build

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
.env
.env.local
.env.*.local
venv/
.venv/
env/
.env/
pip-log.txt
pip-delete-this-directory.txt

# Cypress
cypress/videos
cypress/screenshots
